<div id="content">
  <nav id="profiletabs">
    <ul>
      <li><a href="#feed" class="sel">My Feed</a></li>
      <li><a href="#subs">My Subscriptions</a></li>
      <li><a href="#account">My Account</a></li>
    </ul>
  </nav>

  <section id="feed">
    <div class='container'><br>
      <% if @posts.empty? %>
        <h3>Your feed is empty. Add some peeps!</h3>
      <% else %>
        <h3>What your peeps are saying:</h3>
        <% @posts.each do |p| %>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-1" align="right" height="80px" >
              <%= image_tag "#{p[:author_type].partition(/Author/).first.downcase}.png" %>
            </div>
            <div class="col-md-1">
              <div class="avatar">
                <%= img_linkify(p) %>
              </div>
            </div>
            <div class="col-md-7">
              <div class="text">
                <div class="author"><%= txt_linkify(p) %></div>
                <p><%= render_post(p) %><br>
                  <% if p[:author_type] == "TwitterAuthor" && has_twitter_provider %>
                    <p>
                      <%= link_to "Favorite", favorite_path(tweet: p), method: :post %> |
                      <%= link_to "Retweet", retweet_path(tweet: p), method: :post %>
                    </p>
                  <% end %>
                 <span class='timestamp'>
                  Posted at <%= p[:posted_at].strftime("%l:%M %p on %A, %b %e, %Y") %>
                </span></p>
              </div>
            </div>
          </div>
          <br>
        <% end %>
        <div class="text-center"><%= will_paginate @posts %></div>
      <% end %>

    </div>
  </section>

  <section id="subs" class="hidden">
    <div class='container'>
      <% if current_user.authors.empty? %>
        <h3>Where are your peeps? Start following!</h3>
      <% else %>
        <h3>You are currently following:</h3>
        <% current_user.authors.each do |a| %>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-1" align="right" height="80px">
            <%= image_tag "#{a.type.partition(/Author/).first.downcase}.png" %>
          </div>
          <div class="col-md-1">
            <div class="avatar">
              <%= auth_img_linkify(a) %>
            </div>
          </div>
          <div class="col-md-7">
            <div class="text">
              <div class="author"><%= auth_txt_linkify(a)%></div>
              <%= button_to "Unsubscribe", unsubscribe_path(author: a), method: :delete, type: "submit", class: "btn btn-info" %>
            </div>
          </div>
        </div>
        <br>
        <% end %>
      <% end %>
    </div>
  </section>

  <section id="account" class="hidden">
    <div class='link_accounts'>
      <h4>Your accounts</h4>
      <ul>
        <% @providers.each do |p| %>
          <%= image_tag "#{p.name}.png" %>
          <%= image_tag("#{p['avatar_url']}", height: '50') %>
          <%= p['username'] %><br>

        <% end %>
      </ul>

      <h4>Link another account</h4>
      <div class="icons">
        <%= link_to (image_tag "twitter.png"), "/auth/twitter", title: "Twitter"%>
        <%= link_to (image_tag "tumblr.png"), "/auth/tumblr", title: "Tumblr" %>
      </div>
    </div>
  </section>
</div>

















