<div class='link_accounts'>
  <ul>
  <% @providers.each do |p| %>
    <li>
      <%= image_tag "#{p.name}.png" %>
      <%= p.inspect %>
    </li>
  <% end %>

  <h3>Link your other accounts</h3>
    <div class="icons">
     <!-- iterate through all providers and put only the ones that don't already exist in @providers -->
      <%= link_to (image_tag "twitter.png"), "/auth/twitter", title: "Twitter"%> 
      <%= link_to (image_tag "tumblr.png"), "/auth/tumblr", title: "Tumblr" %> 
      <%= link_to (image_tag "github.png"), "/auth/github", title:"GitHub" %> 
    </div>
</div>

<div class='container'>
  You are currently following:
  <% current_user.authors.each do |a| %>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1" align="right" height="80px">
      <% if a.type.eql? "TwitterAuthor" %>
      <%= link_to (image_tag "twitter.png"), " " %> 
      <% else a.type.eql? "TumblrAuthor" %>
      <%= link_to (image_tag "tumblr.png"), " " %> 
      <% end %>
    </div>
    <div class="col-md-1">
      <div class="avatar">
        <%= image_tag("#{a.avatar}", :class=> "img-thumbnail", :size=> "80x80") %> 
      </div> 
    </div>
    <div class="col-md-7">
      <div class="text">
        <div class="author"><%= a.username %></div>
      </div>
    </div>
  </div>
  <br>
  <% end %>
</div>

<hr>

<div class='container'>
  Here is what your peeps are saying:
  <% @posts.each do |p| %>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-1" align="right" height="80px" >
        <% if p.author.type.eql? "TwitterAuthor" %>
        <%= link_to (image_tag "twitter.png"), " " %> 
        <% else p.author.type.eql? "TumblrAuthor" %>
        <%= link_to (image_tag "tumblr.png"), " " %> 
        <% end %>
      </div>
      <div class="col-md-1">
        <div class="avatar">
          <%= image_tag("#{p.author.avatar}", :class=> "img-thumbnail", :size=> "80x80") %> 
        </div> 
      </div>
      <div class="col-md-7">
        <div class="text">
          <div class="author"><%= p.author.username %></div>
          <p><%= p.title %> </p>
          <p><%= p.body %><br>
          Posted: <%= p.posted_at %></p>
        </div>
      </div>
    </div>
    <br>
  <%end %>
</div>

