<div class='container'>
  You are currently following:
  <% current_user.authors.each do |a| %>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1" align="right" height="80px" >
      <% if a.type.eql? "TwitterAuthor" %>
      <%= link_to (image_tag "pastel-tw.png"), " " %> 
      <% else a.type.eql? "TumblrAuthor" %>
      <%= link_to (image_tag "pastel-tumblr.png"), " " %> 
      <% end %>
    </div>
    <div class="col-md-1">
      <div class="avatar">
        <%= image_tag("#{a.avatar}", :class=> "img-thumbnail", :size=> "80x80") %>  
    </div>
    
    <div class="col-md-7">
      <div class="text">
        <div class="author"><%= a.username %></div>
        <%a.posts.each do |p| %>
        <p><%= p.body %></p>
        <% end %>
        </div>
      </div>
    </div>
  </div>

  <br>
  <% end %>