<!DOCTYPE html>
<html>
<head>
  <title>SeePeeps</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <br>
  <ul class="nav nav-tabs">
  <li class="active"><a href="/">Home</a></li>
  <li><a href="#">Search</a></li>
  <li><a href="#">Messages</a></li>

  <form class="navbar-form navbar-right" role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</ul>

 <div id="nav_bar">
    <%= link_to "Tweet da Peep", root_path %> |
    <%= link_to "Sign In", "https://api.twitter.com/oauth/authorize" %> |
    <%= link_to "Sign Out", sign_out_path %>
  </div>
  <div id="icons">
    <%= link_to (image_tag "pastel-tw.png"), "https://api.twitter.com/oauth/authorize" %> 
  </div>
<h1> PEEPS </h1>

 

<%= yield %>

</body>
</html>
