<!DOCTYPE html>
<html>
<head>
  <title>SeePeeps</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="nav_bar">
    <%= link_to "Tweet da Peep", root_path %> |
    <%= link_to "Sign In", "https://api.twitter.com/oauth/authorize" %> |
    <%= link_to "Sign Out", sign_out_path %>
  </div>
  <div id="icons">
    <%= link_to (image_tag "pastel-tw.png"), "https://api.twitter.com/oauth/authorize" %> 
  </div>

<%= yield %>

</body>
</html>
