<!DOCTYPE html>
<html>
  <head>
    <title>SeePeeps</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    
    <%= csrf_meta_tags %>
    <style> 
    .debug, .link_accounts {
      border: 1px solid black;
      width: 800px;
      padding: 10px;
      margin: auto;
    }

    </style>
  </head>
  <body>
    <h1> <%= link_to (image_tag "PeepsYellow.png"), root_path %>PEEPS</h1>
      <% if current_user %>
        <div class='navbar'>
          <div class=  'btn btn-default'>
            <%= link_to "Sign Out", sign_out_path %>
          </div>
          <div class= 'btn btn-default'>
            <%= link_to "My Feed", user_path(current_user) %>
          </div>

          <%= form_tag twitter_search_path, :class =>"navbar-form navbar-right", method: 'post' do %>
            <div class="form-group">
              <input type="text" name="twitter_search" class="form-control" placeholder="Search Twitter">
            </div>
            <button type="submit" class="btn btn-info">Go!</button>
          <% end %>

          <%= form_tag search_tum_path, :class =>"navbar-form navbar-right", method: 'post' do %>
            <div class="form-group">
              <input type="text" name="search_tum" class="form-control" placeholder="Search Tumblr">
            </div>
            <button type="submit" class="btn btn-info">Go!</button>
          <% end %>
          <%= form_tag rss_path, :class =>"navbar-form navbar-right", method: 'post' do %>
              <div class="form-group">
                  <input type="text" name="get_rss" class="form-control" placeholder="Add a Feed">
              </div>
              <button type="submit" class="btn btn-info">Go!</button>
          <% end %>
        </div>
      <% end %>

    <% if flash[:notice] %>
      <div class='notice'>
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>

<!-- To be deleted when done -->
    <div class='debug'><h3>Debug</h3>
      <h4>Current User ID: <%=session[:user_id] %><br></h4>
        <%=current_user.username if current_user%><br>
        <%=current_user.inspect if current_user%><br>
      <hr>
      <h4>Users</h4>
      <ul><%User.all.each do |user| %>
        <li><%=user.inspect %></li>
      <% end %></ul>
      <hr>
      <h4>Providers</h4>
      <ul>
      <%Provider.all.each do |provider| %>
        <li><%=provider.inspect %></li>
      <% end %></ul>
      <hr>
      <h4>Posts</h4>
      <ul>
      <%Post.all.each do |post| %>
        <li><%=post.inspect %></li>
      <% end %></ul>
    </div>
<!-- end debug -->
  </body>
</html>
